<header class="bg-info text-white text-center py-4 b">
  <h1 class="fw-bold " style="margin-right:10%">EXPERIENCE</h1>
</header>
<div class="text-end d-block d-md-none px-3 py-2">
  <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuResponsive">
    <i class="bi bi-list fs-3"></i>
  </button>
</div>
<div>
  <h1 class="text-center fw-bold mt-4" style="margin-right:10%">My work experience</h1>
</div>

<div class="container mt-4 flex-grow-1">
  <div class="row">
    <div class="col-md-12">

      <div class="d-flex align-items-center mb-3">
        <img style="width: 18%; margin-right: 15px;" src="assets/cabezos.jpg" alt="bar">
        <h5 style="width: 70%; margin-left: 2%;">I have been a waiter at a restaurant called Los Cabezos, located in Palma del Río, which is where I currently live.</h5>

      </div>

      <div class="d-flex align-items-center mb-5">
        <img style="width: 15%; margin-right: 15px;" src="assets/pegasus.png" alt="Pegasus">
        <h5 style="margin-left: 5%; margin-top: 8%">I did an internship at the company Pegasus Aero Group.</h5>
      </div>

      <div class="d-flex align-items-center mb-3">
        <img style="width: 15%;" src="assets/puntosjs.png" alt="">
        <h5 style="margin-left: 5%;">I have done an internship at PuntoJS Estudio Creativo SL</h5>
      </div>
    </div>
  </div>
</div>
