@mixin estiloH1{
    color: green;
    font-size: 10vw;
    font-weight: bold;
    font-family: cursive;
    text-align: center;


};
@mixin centrarTexto{
  text-align: center;
}

@mixin espacioLateralIzquierdo{
  margin: 5%;
};

@mixin alienarImagenyTexto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
};