h1{
    background: #ece8e8;
    margin-top: 20px;
}
p{
    background: #0dcaf0;
    margin-top: 20px
}
.contenido{
    background: #9e3333;
    text-align: center;
    color: white;
}
.conten2{
    background: #20c997;
    margin-top: 40px;
}
.OTRA{
    background: #868e96;

}