$colores:(red, green, blue, yellow, pink, orange, #e3b299);
$colorLetraTabla: grey;
$colorh1: #4b98e0;
$colorLetraTabla: grey;
$anchura:100%;

$etiquetas: (
        h1: 30px,
        h2: 30px,
        h3: 20px,
        h4: 10px,
        h5: 10px,
        h6: 20px
);
$coloresEtiquetas: (
        h1: #ff6347,
        h2: #4682b4,
        h3: #32cd32,
        h4: #ff1493,
        h5: #8a2be2,
        h6: #ff8c00
);